<div class="tab-pane" id="tab2Inspire">
  <div class="grid simple">
    <div class="grid-title no-border">
      <h4>
        <b>Team 3</b>
      </h4>
    </div>
    <div class="grid-body no-border">
      <div class="row-fluid">
        <p>Need more description space? Change classes to
          <code>alert-error</code>
          <code class="text-success">alert-success</code>
          <code class="text-info">alert-info</code>
          <code class="text-warning">alert-warning</code>at ease with different customized color set.</p>
        <div class="alert alert-block alert-error fade in">
          <button type="button" class="close" data-dismiss="alert"></button>
          <h4 class="alert-heading"><i class="icon-warning-sign"></i> Error!</h4>
          <p>Error-handling routine in <a href="#" class="link">x208888</a> and specifies the location of the routine within a procedure</p>
          <div class="button-set">
            <button class="btn btn-danger btn-cons" type="button">Do this</button>
            <button class="btn btn-white btn-cons" type="button">Or this</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
